body {
    font-family: Arial;
    background: #f4f6f8;
    padding: 30px;
}

.center {
    text-align: center;
    margin-top: 100px;
}

.btn {
    background: #007bff;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background: white;
    padding: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

form {
    background: white;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
}

label {
    margin-top: 10px;
    display: block;
}

input, select, textarea, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}
