<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart City | Home</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>



    <!-- Main content -->
    <div class="home-content">
        <h1>Smart City Citizen Issue Reporting System</h1>
        <p>
            A digital platform to report civic issues and help build
            cleaner, safer, and smarter cities for everyone.
        </p>
        <a href="/category" class="btn">Raise a Complaint</a>
    </div>

</body>
</html>
